<% provide(:title, "About") %>

h1>About</h1>
<p>Hey, my name is Ivana and I built this project while learning Ruby on Rails.</p>
<p>
  For more info visit my <a href="https://github.com/Atenna"><em> Github</em></a> 
   or 
  <a href="https://linkedin.com/in/lieska/">LinkedIn</a> profile.
  I am very social (online ^_^), so don't hesitate to <a href="mailto:lieska.drabikova@gmail.com?Subject=Rails%20app" target="_top">hit me up</a>! 
</p>