<div class="jumbotron">
  <h1 class="display-4">Handmade Developers</h1>
  <p class="lead">Sounds weird? Many people imagine programmers as weirdos who sit in front of screens all day long.
What these people probably don't know is that programming means creating amazing web apps, mobile apps, programs and software <b>with our own hands</b>.
That's why I think we should classify programming as <b>'arts & crafts'</b> and call our products <b>'handmade'</b> :)  </p>
  <hr class="my-4">
  <p>I code in Ruby, what is your superpower? Join the community of Handmade Developers and share your ideas!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Join now</a>
</div>


